Repository openfoodfacts/openfoodfacts-infrastructure, pull requests merged in 2022-11, with the labels that each got.

#149 docs: report on openfoodfacts-search deploy
  docs/reports/2022-07-08-journey-to-deploy-off-search.md
Labels: postmortems

#158 build: Deploy docs to github pages with mkdocs
  .github/workflows/generate-docs.yml
  README.md
  docs/reports/2021-12-22-preprod-crash.md
  mkdocs.yml
  scripts/build_mkdocs.sh
Labels: documentation

#160 chore: add deployment workflow for metrics stack
  .github/workflows/metrics-deploy.yml
  docker/metrics/.env
  docker/metrics/Makefile
  docker/metrics/README.md
  docker/metrics/docker-compose.yml
  docker/metrics/prod.yml
Labels: github_actions

#163 docs: folksonomy and nginx reverse proxy
  README.md
  docs/cicd.md
  docs/folksonomy.md
  docs/mail.md
  docs/nginx-reverse-proxy.md
  docs/promox.md
Labels: folksonomy_engine
