Repository openfoodfacts/openfoodfacts-infrastructure, pull requests merged in 2023-06, with the labels that each got.

#228 docs: add robotoff backup report
  docs/reports/2022-11-09-monitoring-move-to-own-vm.md
  docs/reports/2023-06-01-robotoff-backups.md
Labels: Robotoff, postmortems

#205 docs: off2 opff install
  .github/workflows/generate-docs.yml
  confs/off2/pve/110.conf
  confs/off2/pve/README.md
  confs/off2/pve/lxc_110.conf
  confs/off2/sanoid/sanoid.conf
  confs/off2/sanoid/syncoid-args.conf
  confs/ovh3/sanoid/sanoid.conf
  confs/proxy-off/fail2ban/jail.d/nginx.conf
  confs/proxy-off/nginx/log_format.conf
  confs/proxy-off/nginx/openpetfoodfacts.org
  confs/proxy-off/www/off/robots.txt
  docs/free-datacenter.md
  docs/img/2023-03-16 zpool rpool error after disabling PCI.png
  docs/img/2023-03-16-off2-test-error-pci-device.png
  docs/img/2023-04-14 error PCI link disabled.png
  docs/img/2023-05-ovh-create-token-openfoodfacts.org-form.png
  docs/img/2023-05-ovh-create-token-openfoodfacts.org-result.png
  docs/mail.md
  docs/nginx-reverse-proxy.md
  docs/open-pet-food-facts.md
  docs/prod-architecture.md
  docs/promox.md
  docs/reports/2022-03-off2-PCI-NVMe-problems.md
  docs/reports/2023-02-17-off2-upgrade.md
  docs/reports/2023-03-14-off2-opff-reinstall.md
  docs/reports/2023-03-14-off2-reinstall.md
  docs/reports/2023-04-27-moving-docker-stagging-to-ovh1.md
  docs/reports/2023-05-12-refresh-staging-clones.md
  docs/zfs-overview.md
  mkdocs.yml
  scripts/off2/etc/sanoid/sanoid.conf
  scripts/off2/etc/sanoid/syncoid-args.conf
  scripts/off2/etc/systemd/system/syncoid.service
  scripts/ovh3/etc/sanoid/sanoid.conf
  scripts/proxmox-management/ct_postinstall
  scripts/proxmox-management/mkuser
  scripts/proxmox-management/mkuseralias
  scripts/zfs/datasets-sync.sh
  scripts/zfs/migration-ean8.sh
  scripts/zfs/migration.sh
Labels: github_actions, postmortems

#229 docs: documenting sanoid
  docs/reports/2023-03-14-off2-opff-reinstall.md
  docs/sanoid.md
  docs/zfs-overview.md
Labels: postmortems

#232 docs: incident logs by server
  README.md
  docs/logs-off1.md
  docs/logs-off2.md
  docs/logs-off3.md
  docs/logs-ovh1.md
  docs/logs-ovh2.md
  docs/logs-ovh3.md
  docs/reports/2023-05-off2-110-unreachable.md
Labels: postmortems

#237 fix: Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: github_actions

#230 fix: fixing lost sync of off products on ovh3
  docs/reports/2023-06-08-stalled-zfs-sync-off-products.md
  scripts/off1/sto-products-sync.sh
Labels: postmortems
