Repository openfoodfacts/openfoodfacts-infrastructure, pull requests merged in 2024-08, with the labels that each got.

#377 docs: fresh wordpress install for OFF contents
  docs/reports/2024-08-07-wordpress-off-contents-fresh-install.md
Labels: wordpress

#354 feat: install proxy on off1 and serve OFF images
  docs/reports/2024-06-05-off1-reverse-proxy-install.md
Labels: off1, 🖼️ Images, proxy server, postmortems

#358 docs: off-query deployment
  .github/labeler.yml
  README.md
  docs/openfoodfacts-query.md
Labels: off1, GitHub Actions, openfoodfacts-query

#372 ci: Update labeler.yml to autotag servers based on filename
  .github/labeler.yml
Labels: GitHub Actions

#385 docs: add second patch to matomo
  docs/matomo.md
Labels: 🪦 postmortems, 📈 Matomo

#386 ci: Update labeler.yml
  .github/labeler.yml
Labels: GitHub Actions

#384 docs: add report about moji server installation
  docs/moji-datacenter.md
  docs/nginx-reverse-proxy.md
  docs/reports/2024-08-13-moji-server-installation.md
Labels: 🪦 postmortems, moji
