Repository openfoodfacts/openfoodfacts-infrastructure, pull requests merged in 2024-10, with the labels that each got.

#422 fix: filter config file empty lines in syncoid.service
  confs/common/systemd/system/syncoid.service
Labels: backup

#421 fix: mongoDB double backup removed
  confs/off2/sanoid/syncoid-args.conf
Labels: off2, backup

#363 docs: move EAN8 product directories
  docs/reports/2024-06-20-move-ean8-directories.md
Labels: 🪦 postmortems, filesystem

#342 docs: install obf-new on off2
  .github/labeler.yml
  docs/reports/2024-04-26-off2-obf-new-install.md
Labels: off2, 🪦 postmortems, 🧴 Open Beauty Facts, GitHub Actions, installs

#407 docs: fix on how to debug blackbox exporter probes
  docs/observability.md
Labels: blackbox, observability

#411 docs: ks1 install
  .github/labeler.yml
  docs/mail.md
  docs/reports/2024-06-05-off1-reverse-proxy-install.md
  docs/reports/2024-09-24-kimsufi-stor-ks1-installation.md
  docs/sanoid.md
  docs/zfs-overview.md
Labels: off1, 📨 email, 🪦 postmortems, GitHub Actions, ks1

#409 docs: moving docker volumes
  docs/reports/2024-09-19-move-docker-volumes.md
Labels: 🐳 docker, 🪦 postmortems

#433 docs: add report "Move S3 sync script to OVH3"
  docs/reports/2024-10-29-move-s3-sync-script-to-ovh3.md
Labels: ovh3
