Repository openfoodfacts/openfoodfacts-infrastructure, pull requests merged in 2024-09, with the labels that each got.

#400 ci: Update labeler.yml
  .github/labeler.yml
Labels: GitHub Actions

#393 docs: how to diagnose blackbox errors
  docs/observability.md
Labels: blackbox

#391 docs: postfix prometheus exporter
  docs/reports/2024-08-22-postfix-exporter-on-pmg.md
Labels: 📨 email, 🪦 postmortems, prometheus

#390 docs: how to resync backups
  docs/how-to-resync-zfs-replication.md
  docs/sanoid.md
Labels: backup

#401 docs: move off-query to moji (+ipv6 on off2)
  docs/explain-server-config-in-git.md
  docs/free-datacenter.md
  docs/proxmox.md
  docs/reports/2024-09-04-move-off-query-to-moji.md
  docs/reports/2024-09-05-adding-ipv6-to-off2.md
  scripts/proxmox-management/ct_postinstall
Labels: off2, 🪦 postmortems, moji, Proxmox

#405 docs: setup to test folksonomy on Open Products Facts
  docs/reports/2024-09-06-test-folksonomy-openproductsfacts.md
Labels: 🪦 postmortems

#406 ci: labeler for opf and folksonomy
  .github/labeler.yml
Labels: GitHub Actions

#403 docs: add report about Moji post-installation steps
  docs/reports/2024-09-06-moji-post-installation.md
Labels: 🪦 postmortems, moji

#414 feat: Let's celebrate progress in Infrastructure like in other projects
  .github/workflows/release-please.yml
Labels: GitHub Actions, 👩‍💻 DevOps
