Repository openfoodfacts/openfoodfacts-infrastructure, pull requests merged in 2025-07, with the labels that each got.

#492 docs: ovh3 disk replace
  docs/reports/2025-06-27-ovh3-disk-replace.md
Labels: 🪦 postmortems, ovh3

#494 docs: 2025-06-30-ovh3-disk-full-post-mortem
  docs/reports/2025-06-30-ovh3-disk-full-post-mortem.md
  docs/reports/media/2025-06-30-19-04-28-ovh1-graph-disk-full.png
Labels: 🪦 postmortems, ovh3, ovh1

#491 chore: Add recipe-estimator
  docs/index.md
  docs/recipe-estimator.md
Labels: recipe estimator

#501 docs: update openfoodfacts-query.md
  docs/openfoodfacts-query.md
Labels: openfoodfacts-query

#500 ci: hetzner-01 labeler
  .github/labeler.yml
Labels: GitHub Actions

#496 feat: add a disk for docker-data to monitoring
  ansible/host_vars/monitoring-01/zfs.yml
  docs/reports/2025-07-03-adding-disk-to-monitoring-01.md
Labels: monitoring, 🪦 postmortems, google cloud
