Repository openfoodfacts/openfoodfacts-infrastructure, pull requests merged in 2025-01, with the labels that each got.

#446 docs: firmware upgrades on off2
  docs/reports/2024-12-11-firmware-upgrade-on-off2.md
  docs/reports/media/2024-12-11-munin-off2-latency-after-firmware-update.png
  docs/reports/media/2024-12-11-munin-off2-usage-after-firmware-update.png
Labels: off2, 🪦 postmortems

#441 docs: merge product data and images dirs of all flavors
  docs/reports/2024-10-23-deduplicate-products-in-multiple-flavors.md
  docs/reports/2024-11-15-merge-products-dirs-for-all-flavors.md
Labels: 🐾 Open Pet Food Facts, 🪦 postmortems, 🧴 Open Beauty Facts, 📸 Open Products Facts, 🍊 Open Food Facts

#442 chore: install opff test container for keycloak
  docs/reports/2024-04-26-off2-obf-new-install.md
  docs/reports/2024-06-05-off1-reverse-proxy-install.md
  docs/reports/2024-11-22-create-clone-of-opff-for-keycloak-testing.md
  docs/sanoid.md
Labels: off1, off2, 🔐 Auth, 🪦 postmortems, 🧴 Open Beauty Facts, Infrastructure auth
