Repository openfoodfacts/openfoodfacts-infrastructure, pull requests merged in 2025-04, with the labels that each got.

#404 ci: Attempt fixing Readme writer (responsible for updating the VM list)
  .github/workflows/readme-writer.yml
  docs/virtual-machines.md
Labels: GitHub Actions

#450 docs: renaming o*f-new instances
  docs/reports/2025-01-08-rename-o*f-new.md
Labels: Fixed?, 🐾 Open Pet Food Facts, 🪦 postmortems, 🧴 Open Beauty Facts, 📸 Open Products Facts

#447 docs: how to deploy a new service
  docs/how-to-deploy-a-new-service.md
  docs/index.md
Labels: off2, 🪦 postmortems

#465 docs: more hetzner doc
  docs/hetzner-servers.md
  docs/index.md
  docs/overview.md
  docs/ovh-servers.md
  docs/reports/2024-11-14-hetzner-server-install.md
Labels: 🪦 postmortems, hetzner

#459 chore: firewall rules for free DC
  docs/how-to-fail2ban-debian-11+.md
  docs/reports/2025-01-27-firewall-off2-reverse-proxy.md
  docs/reports/2025-01-27-firewall-work-free.md
  docs/reports/2025-01-28-firewall-work-ovh.md
Labels: off2, 🪦 postmortems

#434 docs: install of keycloak CT
  .github/labeler.yml
  docs/reports/2024-10-30-keycloak-ct-install.md
Labels: 🪦 postmortems, GitHub Actions

#399 feat: two apache for off
  docs/proxmox.md
  docs/reports/2025-01-10-off-server-double-apache.md
Labels: 🪦 postmortems, 🪶 Apache, Proxmox
